<%- include('./includes/header.ejs') %>

<div class="container mb-5 mt-5">
    <h3>Please Select Your Roll</h3>
    <a href="/student"><button class="btn btn-outline-success mt-5">Student</button></a>
    <a href="/admin"><button class="btn btn-outline-success mt-5">Admin</button></a>
</div>

<%- include('./includes/footer.ejs') %>

