<%- include('./includes/header.ejs') %>

<div class="container mb-5 mt-5">
    <h3>Please Select Your Option</h3>
    <a href="/books?focus=search"><button class="btn btn-outline-success mt-5">Search</button></a>
    <a href="/books"><button class="btn btn-outline-success mt-5">Books</button></a>
    <a href="/"><button class="btn btn-outline-success mt-5">Change Roll</button></a>
</div>

<%- include('./includes/footer.ejs') %>